@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
   font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
   text-decoration: none;
}

.user-container {
   border: 2px solid darkgray;
   border-radius: 1rem;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 1.5rem;
   margin: 1rem;
   background-color: #f2f2f2;
}

.user-container .content {
   text-align: center;
}

.user-container .content h3 {
   font-size: 2rem;
   color: #333;
}

.user-container .content h3 span {
   background: crimson;
   color: #fff;
   border-radius: 0.5rem;
   padding: 0 1rem;
}

.user-container .content h1 {
   font-size: 2.5rem;
   color: #333;
}

.user-container .content p {
   font-size: 1.8rem;
   margin-bottom: 1.5rem;
}

.user-container .content .btn {
   display: inline-block;
   border-radius: 0.4rem;
   margin-left: 1rem;
   padding: 0.8rem 2rem;
   color: white;
   background-color: black;
   margin: 5px 5px;
   text-transform: capitalize;
}

.user-container .content .btn:hover {
   background-color: rgb(33, 33, 33);
}