@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   text-decoration: none;
}

.user-container{
   border: 2px solid;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 60px;
}

.user-container .content{
   text-align: center;
}

.user-container .content h3{
   font-size: 30px;
   color:#333;
}

.user-container .content h3 span{
   background: crimson;
   color:#fff;
   border-radius: 5px;
   padding:0 15px;
}

.user-container .content h1{
   font-size: 50px;
   color:#333;
}

.user-container .content p{
   font-size: 25px;
   margin-bottom: 20px;
}

.user-container .content .btn{
   display: inline-block;
   border-radius: 0.4rem;
   margin-left: 1rem;
   padding:10px 30px;
   color: white;
   background-color: black;
   margin:5px 5px;
   text-transform: capitalize;
}

.user-container .content .btn:hover{
   background-color: rgb(33, 33, 33);
}